<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- bootstrap -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap"
      rel="stylesheet"
    />
    <!-- static css -->
    <link
      href="{{url_for('static', filename='styles.css')}}"
      rel="stylesheet"
      type="text/css"
    />
    <!-- title -->
    {% if title %}
    <title>pawr - {{title}}</title>
    {% else %}
    <title>pawr</title>
    {% endif %}
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container">
             <!-- navbar brand -->
            <a class="navbar-brand brand-pawr" href="{{url_for('home')}}">
                <p>pawr</p>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- main nav -->
            <div class="collapse navbar-collapse" id="navbarToggle">
                <!-- nav left -->
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link {{'active' if request.path == url_for('home') else ''}}" href="{{url_for('home')}}">Home</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('new_question') }}" class="btn btn-info">+ Ask Question</a>
                    <a class="nav-item nav-link {{'active' if request.path == url_for('account') else ''}}" href="{{url_for('account')}}">Account</a>
                    <a class="nav-item nav-link {{'active' if request.path == url_for('logout') else ''}}" href="{{url_for('logout')}}">Logout</a>
                    {% else %}
                    <a class="nav-item nav-link {{'active' if request.path == url_for('login') else ''}}" href="{{url_for('login')}}">Login</a>
                    <a class="nav-item nav-link {{'active' if request.path == url_for('register') else ''}}" href="{{url_for('register')}}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-2">
      <!-- flash messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-dismissible alert-{{ category }} mt-2">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {{message}}
                </div>
            {% endfor %}
        {%endif%}
      {%endwith%}

      <!-- main content -->
      {% block content %}{% endblock %}
    </div>

    <!-- scripts -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    {% block js %}
    {% endblock js %}
  </body>
</html>
